*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header
{
    width:100%;
}

.header .top_header
{
    max-width:100%;
    display: flex;
    padding: 2px 2px;
    background:rgb(237, 232, 232);

}

.header .top_header .icon
{
    margin-left:20px;
    color:rgb(30, 25, 19);
    font-size: 19px;
} 

.header .top_header .info p
{
    margin-left: 10px;
    color: rgb(13, 12, 12);
}

.header .mid_header{

    display:flex;
    padding: 20px 40px;
    max-width: 100%;
}